<nav class="navbar navbar-default">
  <div class="class=container-fluid">
    <div class="nabvbar-header">
    </div>
    <a class='navbar-brand' href="index">The Snack Zone</a>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/snacks/new">Add Snack</a></li>
      <li><a href="/snacks">View Snacks</a></li>
    </ul>
  </div>
</nav>
